<title>Division</title>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<table border="1" style="width: 100%" class="sortable">
  <tr class = "header">
    <th>Division</th>
    <th>Franchise</th>
    <th>City</th>
    <th>Founded</th>
  </tr>
  {% for divisionInfo in divisionInfo_details %}
  <tr>
    <td>{{divisionInfo[0]}}</td>
    <td><a class="info" value="franchise">{{divisionInfo[1]}}</a></td>
    <td><a class="info" value="city">{{divisionInfo[2]}}</a></td>
    <td>{{divisionInfo[3]}}</td>
  </tr>
  {%endfor%}
</table>
<form>
  <input type="button" value="Back" onclick="history.back()" />
  <input type="button" value="Home" onclick="window.location.href='/'" />
</form>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
