<table border="1" style="font-size:70%">
    <tr>
      <th>Name</th> <!-- 0 -->
      <th>Season</th> <!-- 1 -->
      <th>Wins</th> <!-- 2 -->
      <th>Losses</th> <!-- 3 -->
      <th>Ties</th> <!-- 4 -->
      <th>Total Points</th> <!-- 5 -->
      <th>Total Yards</th> <!-- 6 -->
      <th>Touchdowns</th> <!-- 7 -->
      <th>Field Goals</th> <!-- 8 -->
      <th>Date of Game</th> <!-- 9 -->
      <th>Result of Game</th> <!-- 10 -->
      <th>Total Yards in the Game</th> <!-- 11 -->
      <th>Total Pass Yards in Game</th> <!-- 12 -->
      <th>Total Rush Yards in Game</th> <!-- 13 -->
      <th>City</th> <!-- 14 -->
      <th>Founded</th> <!-- 15 -->
      <th>Division</th> <!-- 16 -->
      <th>Player Name</th> <!-- 17 -->
      <th>Player Date of Birth</th> <!-- 18 -->
      <th>Starting Date for the Player</th> <!-- 19 -->
      <th>Ending Date for the Player</th> <!-- 20 -->
    </tr>
    {% for franchiseInfo in franchiseInfo_details %}
    <tr>
      <td>{{franchiseInfo[0]}}</td>
      <td><a class="info" value="season">{{franchiseInfo[1]}}</a></td>
      <td>{{franchiseInfo[2]}}</td>
      <td>{{franchiseInfo[3]}}</td>
      <td>{{franchiseInfo[4]}}</td>
      <td>{{franchiseInfo[5]}}</td>
      <td>{{franchiseInfo[6]}}</td>
      <td>{{franchiseInfo[7]}}</td>
      <td>{{franchiseInfo[8]}}</td>
      <td>{{franchiseInfo[9]}}</td>
      <td>{{franchiseInfo[10]}}</td>
      <td>{{franchiseInfo[11]}}</td>
      <td>{{franchiseInfo[12]}}</td>
      <td>{{franchiseInfo[13]}}</td>
      <td><a class="info" value="city">{{franchiseInfo[14]}}</a></td>
      <td>{{franchiseInfo[15]}}</td>
      <td><a class="info" value="division">{{franchiseInfo[16]}}</a></td>
      <td><a class="info" value="player">{{franchiseInfo[17]}}</a></td>
      <td>{{franchiseInfo[18]}}</td>
      <td>{{franchiseInfo[19]}}</td>
      <td>{{franchiseInfo[20]}}</td>
    </tr>
    {%endfor%}
  </table>
  <form>
    <input type="button" value="Back" onclick="history.back()">
   </form>
   <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>