<title>{{team_stats[0][0]}}</title>
<p>
  Name: <a class="info" value="franchise"></a>{{team_stats[0][0]}}
  <br />
  <!-- <a class="info" value="season">Season: {{team_stats[0][1]}}</a> -->
  Season: <a class="info" value="season">{{team_stats[0][1]}}</a>
  <br />
  Wins:{{team_stats[0][2]}}
  <br />
  Losses: {{team_stats[0][3]}}
  <br />
  Ties:{{team_stats[0][4]}}
  <br />
  Total Points: {{team_stats[0][5]}}
  <br />
  Total Yards: {{team_stats[0][6]}}
  <br />
  Touchdowns: {{team_stats[0][7]}}
  <br />
  Field Goals: {{team_stats[0][8]}}
  <br />
  City: <a class="info" value="city">{{team[0][0]}}</a>
  <br />
  Founded: {{team[0][1]}}
  <br />
  Division: <a class="info" value="division">{{team[0][2]}}</a>
  <br />
  Players: <a class="info" value="player"></a>
</p>

<table border="1" style="width: 100%" class="sortable">
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Kit Number</th>
    <th>Position</th>
    <th>Running Yards</th>
    <th>Throwing Yards</th>
    <th>Sacks</th>
    <th>Catches</th>
    <th>Touchdowns</th>
    <th>Punt Returns</th>
    <th>Field Goals</th>
  </tr>
  {% for player in player_details %}
  <tr>
    <td>{{player[0]}}</td>
    <td>{{player[1]}}</td>
    <td>{{player[2]}}</td>
    <td>{{player[3]}}</td>
    <td>{{player[4]}}</td>
    <td>{{player[5]}}</td>
    <td>{{player[6]}}</td>
    <td>{{player[7]}}</td>
    <td>{{player[8]}}</td>
    <td>{{player[9]}}</td>
    <td>{{player[10]}}</td>
  </tr>
  {%endfor%}
</table>

<br />
Game Stats:
<table border="1" style="width: 100%" class="sortable">
  <tr>
    <th>Date</th>
    <th>Result</th>
    <th>Totals Yards</th>
    <th>Pass Yards</th>
    <th>Rush Yards</th>
  </tr>
  {% for game_stats in game_stats_details %}
  <tr>
    <td>{{game_stats[0]}}</td>
    <td>{{game_stats[1]}}</td>
    <td>{{game_stats[2]}}</td>
    <td>{{game_stats[3]}}</td>
    <td>{{game_stats[4]}}</td>
  </tr>
  {%endfor%}
</table>
<form>
  <input type="button" value="Back" onclick="history.back()" />
  <input type="button" value="Home" onclick="window.location.href='/'" />
</form>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='script.js') }}"
></script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
