<title>Game</title>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<table border="1" style="font-size: 70%" class="sortable">
  <tr>
    <th>Date of Game</th>
    <th>Home Team</th>
    <th>Away Team</th>
    <th>Home Points</th>
    <th>Away Points</th>
    <th>Year</th>
    <th>Week Played</th>
    <th>Season</th>
  </tr>
  {% for game in game_details %}
  <tr>
    <td>{{game[0]}}</td>
    <td>{{game[1]}}</td>
    <td>{{game[2]}}</td>
    <td>{{game[3]}}</td>
    <td>{{game[4]}}</td>
    <td>{{game[5]}}</td>
    <td>{{game[6]}}</td>
    <td>{{game[7]}}</td>
  </tr>
  {%endfor%}
</table>
<form>
  <input type="button" value="Back" onclick="history.back()" />
</form>
