<title>Game Stats</title>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<table border="1" style="font-size: 70%" class="sortable">
  <tr>
    <!-- 0 -->
    <th>Franchise</th>
    <!-- 1 -->
    <th>Date</th>
    <!-- 2 -->
    <th>Result</th>
    <!-- 3 -->
    <th>Total Yards</th>
    <!-- 4 -->
    <th>Pass Yards</th>
    <!-- 5 -->
    <th>Rush Yards</th>
  </tr>

  {% for game_stats in game_stats_details %}
  <tr>
    <td><a class="info" value="franchise">{{game_stats[0]}}</a></td>
    <td>{{game_stats[1]}}</td>
    <td>{{game_stats[2]}}</td>
    <td>{{game_stats[3]}}</td>
    <td>{{game_stats[4]}}</td>
    <td>{{game_stats[5]}}</td>
  </tr>
  {%endfor%}
</table>
<form>
  <input type="button" value="Back" onclick="history.back()" />
</form>
