<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/submit">
      <select name="stats" id="stats">
        <option value="player" selected>Players</option>
        <option value="team" selected>Teams</option>
        <option value="game" selected>Games</option>
        <option value="player_stats" selected>Player Stats</option>
        <option value="team_stats" selected>Team Stats</option>
        <option value="game_stats" selected>Game Stats</option>
        <option value="play_for" selected>Playing For</option>
      </select>
      <input type="submit" />
    </form>
  </body>
</html>
