<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<table border="1" style="font-size:70%" class="sortable">
  <tr>
    <th>Name</th> <!-- 0 -->
    <th>Date Of Birth</th> <!-- 1 -->
    <th>Franchise</th> <!-- 2 -->
    <th>Start</th> <!-- 3 -->
    <th>End</th> <!-- 4 -->
  </tr>
  {% for play_for in play_for_details %}
  <tr>
    <td><a class="info" value="player">{{play_for[0]}}</a></td>
    <td>{{play_for[1]}}</td>
    <td>{{play_for[2]}}</td>
    <td>{{play_for[3]}}</td>
    <td>{{play_for[4]}}</td>
  </tr>
  {%endfor%}
</table>
<form>
  <input type="button" value="Back" onclick="history.back()">
 </form>\
 <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>