<table border="1" style="font-size:70%">
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Kit Number</th>
      <th>Position</th>
      <th>Season</th>
      <th>Total Running Yards</th>
      <th>Total Throwing Yards</th>
      <th>Total Sacks</th>
      <th>Total Catch</th>
      <th>Total Touchdowns</th>
      <th>Total Punt Returns</th>
      <th>Total Field Goals</th>
      <th>Franchise</th>
      <th>Starting Year</th>
      <th>Ending Year</th>
    </tr>
    {% for playerInfo in playerInfo_details %}
    <tr>
      <td>{{playerInfo[0]}}</td>
      <td>{{playerInfo[1]}}</td>
      <td>{{playerInfo[2]}}</td>
      <td><a class="info" value="position">{{playerInfo[3]}}</a></td>
      <td>{{playerInfo[4]}}</td>
      <td>{{playerInfo[5]}}</td>
      <td>{{playerInfo[6]}}</td>
      <td>{{playerInfo[7]}}</td>
      <td>{{playerInfo[8]}}</td>
      <td>{{playerInfo[9]}}</td>
      <td>{{playerInfo[10]}}</td>
      <td>{{playerInfo[11]}}</td>
      <td>{{playerInfo[12]}}</td>
      <td>{{playerInfo[13]}}</td>
      <td>{{playerInfo[14]}}</td>
    </tr>
    {%endfor%}
  </table>
  <form>
    <input type="button" value="Back" onclick="history.back()">
   </form>
   <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
