<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<table border="1" style="font-size:70%" class="sortable">
    <tr>
      <th>Position</th> <!-- 0 -->
      <th>Name</th> <!-- 1 -->
      <th>Date of Birth</th> <!-- 2 -->
      <th>Kit Number</th> <!-- 3 -->
      <th>Season</th> <!-- 4 -->
      <th>Total Running Yards</th> <!-- 5 -->
      <th>Total Throwing Yards</th> <!-- 6 -->
      <th>Total Sacks</th> <!-- 7 -->
      <th>Total Catch</th> <!-- 8 -->
      <th>Total Touchdowns</th> <!-- 9 -->
      <th>Total Punt Returns</th> <!-- 10 -->
      <th>Total Field Goals</th> <!-- 11 -->
      <th>Franchise</th> <!-- 12 -->
      <th>Starting Year</th> <!-- 13 -->
      <th>Ending Year</th> <!-- 14 -->
    </tr>
    {% for positionInfo in positionInfo_details %}
    <tr>
      <td>{{positionInfo[0]}}</td>
      <td><a class="info" value="player">{{positionInfo[1]}}</a></td>
      <td>{{positionInfo[2]}}</td>
      <td>{{positionInfo[3]}}</td>
      <td><a class="info" value="season">{{positionInfo[4]}}</a></td>
      <td>{{positionInfo[5]}}</td>
      <td>{{positionInfo[6]}}</td>
      <td>{{positionInfo[7]}}</td>
      <td>{{positionInfo[8]}}</td>
      <td>{{positionInfo[9]}}</td>
      <td>{{positionInfo[10]}}</td>
      <td>{{positionInfo[11]}}</td>
      <td><a class="info" value="franchise">{{positionInfo[12]}}</a></td>
      <td>{{positionInfo[13]}}</td>
      <td>{{positionInfo[14]}}</td>
    </tr>
    {%endfor%}
  </table>
  <form>
    <input type="button" value="Back" onclick="history.back()">
    <input type="button" value="Home" onclick="window.location.href='/'">
   </form>
   <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
