<input 
  type="text" 
  id="myInput" 
  onkeyup="myFunction()" 
  placeholder="Search key words/values" 
  title="SeasonInfo">
  <form>
    <input type="button" value="Back" onclick="history.back()" />
    <input type="button" value="Home" onclick="window.location.href='/'" />
  </form>
<title>{{season}} Season</title>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<p>
  Season: {{season}}
  <br />
  Team Stats:
</p>

<table border="1" style="width:100%" class="sortable" id="myTable">
  <tr class="header">
    <th>Franchise</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Ties</th>
    <th>Total Points</th>
    <th>Total Yards</th>
    <th>Team Touchdowns</th>
    <th>Team Field Goals</th>
  </tr>
  {%for team_stats in team_stats_details%}
  <tr>
    <td><a class="info" value="franchise">{{team_stats[0]}}</a></td>
    <td>{{team_stats[1]}}</td>
    <td>{{team_stats[2]}}</td>
    <td>{{team_stats[3]}}</td>
    <td>{{team_stats[4]}}</td>
    <td>{{team_stats[5]}}</td>
    <td>{{team_stats[6]}}</td>
    <td>{{team_stats[7]}}</td>
  </tr>
  {%endfor%}
</table>
<br />
Player Stats:
<table border="1" style="width:100%" class="sortable" id="myTable">
  <tr class="header">
    <th>Player Name</th>
    <th>Running Yards</th>
    <th>Throwing Yards</th>
    <th>Sacks</th>
    <th>Catches</th>
    <th>Player Touchdowns</th>
    <th>Punt Returns</th>
    <th>Player Field Goals</th>
  </tr>
  {%for player_stats in player_stats_details%}
  <tr>
    <td><a class="info" value="player">{{player_stats[0]}}</a></td>
    <td>{{player_stats[1]}}</td>
    <td>{{player_stats[2]}}</td>
    <td>{{player_stats[3]}}</td>
    <td>{{player_stats[4]}}</td>
    <td>{{player_stats[5]}}</td>
    <td>{{player_stats[6]}}</td>
    <td>{{player_stats[7]}}</td>
  </tr>
  {%endfor%}
</table>
<form>
  <input type="button" value="Back" onclick="history.back()" />
  <input type="button" value="Home" onclick="window.location.href='/'" />
</form>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
