<table border="1">
  <tr>
    <th>Franchise</th>
    <th>City</th>
    <th>Founded</th>
    <th>Division</th>
  </tr>
  {% for team in team_details %}
  <tr>
    <td><a class="info" value="franchise">{{team[0]}}</a></td>
    <td><a class="info" value="city">{{team[1]}}</a></td>
    <td>{{team[2]}}</td>
    <td>{{team[3]}}</td>
  </tr>
  {%endfor%}
</table>
<form>
  <input type="button" value="Back" onclick="history.back()">
 </form>
 <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>